* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

html, body {
    width: 100%;
    height: auto;
    background: #101010;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    overflow-y: auto;
    position: relative;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
}

.logo {
    width: 200px;
    margin-bottom: 20px;
}

h1 {
    font-size: 4rem;
    margin: 10px 0;
}

p {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button, input[type="text"], input[type="number"], select {
    background: #181818;
    color: white;
    border: none;
    padding: 18px 40px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 50px;
    transition: background 0.2s ease, border-color 0.2s ease;
    text-align: center;
    font-family: inherit;
}

button:hover, input:focus, select:focus {
    background: #353535;
    outline: none;
}

a {
    color: #ff5d5d;
    text-decoration: none;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button button {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    font-size: 1.5rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 2000px;
    margin: auto;
}

.game-card {
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: 200px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.game-card h3 {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-card:hover h3 {
    opacity: 1;
}

.search-bar {
    margin: 10px 0 50px;
    text-align: center;
}

#search {
    width: 100%;
    max-width: 400px;
}

iframe {
    border: 2px solid #353535;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(53, 53, 53, 0.5);
    width: 1500px;
    height: 700px;
}

/* e04e4e */